$accentColor = #82549d
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #82549d
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$nprogressColor = #82549d

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

.custom-block
  &.tip
    background-color #f3f5f7
    border-color #82549d
